; -- Nodes

[Node.0]
modelNode=ATTACH_SEAT_01
interactiveObject=SEAT_B737Max8_Pax_BBJ
distanceToNotAnimate=20
node_occlusion_factor=1.65

[Node.1]
modelNode=ATTACH_SEAT_02
interactiveObject=SEAT_B737Max8_Pax_BBJ
distanceToNotAnimate=20
node_occlusion_factor=1.65

[Node.2]
modelNode=ATTACH_SEAT_03
interactiveObject=SEAT_B737Max8_Pax_BBJ
distanceToNotAnimate=20
node_occlusion_factor=1.65

[Node.3]
modelNode=ATTACH_SEAT_04
interactiveObject=SEAT_B737Max8_Pax_BBJ
distanceToNotAnimate=20
node_occlusion_factor=1.65

[Node.4]
modelNode=ATTACH_SEAT_05
interactiveObject=SEAT_B737Max8_Pax_BBJ
distanceToNotAnimate=20
node_occlusion_factor=1.65

[Node.5]
modelNode=ATTACH_SEAT_06
interactiveObject=SEAT_B737Max8_Pax_BBJ
distanceToNotAnimate=20
node_occlusion_factor=1.65

[Node.6]
modelNode=ATTACH_SEAT_07
interactiveObject=SEAT_B737Max8_Pax_BBJ
distanceToNotAnimate=20
node_occlusion_factor=1.65

[Node.7]
modelNode=ATTACH_SEAT_08
interactiveObject=SEAT_B737Max8_Pax_BBJ
distanceToNotAnimate=20
node_occlusion_factor=1.65

[Node.8]
modelNode=ATTACH_SEAT_09
interactiveObject=SEAT_B737Max8_Pax_BBJ
distanceToNotAnimate=20
node_occlusion_factor=1.65

[Node.9]
modelNode=ATTACH_SEAT_10
interactiveObject=SEAT_B737Max8_Pax_BBJ
distanceToNotAnimate=20
node_occlusion_factor=1.65

[Node.10]
modelNode=ATTACH_SEAT_11
interactiveObject=SEAT_B737Max8_Pax_BBJ
distanceToNotAnimate=20
node_occlusion_factor=1.65

[Node.11]
modelNode=ATTACH_SEAT_12
interactiveObject=SEAT_B737Max8_Pax_BBJ
distanceToNotAnimate=20
node_occlusion_factor=1.65

; -- RTC nodes

[NODE.12]
name = RTC_VIP_EXTERIOR_START_1_1
coordinate_system = relative
pos = -40,0,-10
pbh = 0,0,0
tag = RTC_VIP_EXTERIOR_START_1
node_occlusion_factor = 0
modelNode = ""
subgraph = ""
edgeToMainNode = 0
interactiveVolume = 0,0,0
interactiveVolumeOffset = 0,0,0
interactiveVolumeConstraint = PlayerAvatarOnly
loadVolume = 0,0,0
interactiveObject = ""
interactionVolume = ""
interactionState = ""
mouserectLinked = ""
distanceToNotAnimate = 0
projectOnGround = true
isExit = 0

[NODE.13]
name = Plane_Entrance
coordinate_system = relative
pos = -4,0,-10
pbh = 0,0,90
tag = PLANE_ENTRANCE
node_occlusion_factor = 0
modelNode = ""
subgraph = ""
edgeToMainNode = 0
interactiveVolume = 0,0,0
interactiveVolumeOffset = 0,0,0
interactiveVolumeConstraint = PlayerAvatarOnly
loadVolume = 0,0,0
interactiveObject = ""
interactionVolume = ""
interactionState = ""
mouserectLinked = ""
distanceToNotAnimate = 0
projectOnGround = true
isExit = 0

[NODE.14]
name = RTC_VIP_EXTERIOR_START_2_1
coordinate_system = relative
pos = -30,0,-10
pbh = 0,0,0
tag = RTC_VIP_EXTERIOR_START_2
node_occlusion_factor = 0
modelNode = ""
subgraph = ""
edgeToMainNode = 0
interactiveVolume = 0,0,0
interactiveVolumeOffset = 0,0,0
interactiveVolumeConstraint = PlayerAvatarOnly
loadVolume = 0,0,0
interactiveObject = ""
interactionVolume = ""
interactionState = ""
mouserectLinked = ""
distanceToNotAnimate = 0
projectOnGround = true
isExit = 0

[NODE.15]
name = RTC_VIP_EXTERIOR_START_1_2
coordinate_system = relative
pos = -45,0,-12
pbh = 0,0,0
tag = RTC_VIP_EXTERIOR_START_1
node_occlusion_factor = 0
modelNode = ""
subgraph = ""
edgeToMainNode = 0
interactiveVolume = 0,0,0
interactiveVolumeOffset = 0,0,0
interactiveVolumeConstraint = PlayerAvatarOnly
loadVolume = 0,0,0
interactiveObject = ""
interactionVolume = ""
interactionState = ""
mouserectLinked = ""
distanceToNotAnimate = 0
projectOnGround = true
isExit = 0

[NODE.16]
name = Plane_Entrance_2
coordinate_system = relative
pos = -4,0,-12
pbh = 0,0,90
tag = PLANE_ENTRANCE
node_occlusion_factor = 0
modelNode = ""
subgraph = ""
edgeToMainNode = 0
interactiveVolume = 0,0,0
interactiveVolumeOffset = 0,0,0
interactiveVolumeConstraint = PlayerAvatarOnly
loadVolume = 0,0,0
interactiveObject = ""
interactionVolume = ""
interactionState = ""
mouserectLinked = ""
distanceToNotAnimate = 0
projectOnGround = true
isExit = 0

[NODE.17]
name = RTC_VIP_EXTERIOR_START_2_2
coordinate_system = relative
pos = -35,0,-12
pbh = 0,0,0
tag = RTC_VIP_EXTERIOR_START_2
node_occlusion_factor = 0
modelNode = ""
subgraph = ""
edgeToMainNode = 0
interactiveVolume = 0,0,0
interactiveVolumeOffset = 0,0,0
interactiveVolumeConstraint = PlayerAvatarOnly
loadVolume = 0,0,0
interactiveObject = ""
interactionVolume = ""
interactionState = ""
mouserectLinked = ""
distanceToNotAnimate = 0
projectOnGround = true
isExit = 0

; -- MainGraph

[MainGraph.0]
nodes = 0,1,2,3,4,5,6,7,8,9,10,11,RTC_VIP_EXTERIOR_START_1_1,Plane_Entrance,RTC_VIP_EXTERIOR_START_2_1,RTC_VIP_EXTERIOR_START_1_2,Plane_Entrance_2,RTC_VIP_EXTERIOR_START_2_2
edges = VIP_Entrance_Plane_Entrance,VIP_American_Entrance_Plane_Entrance,VIP_Entrance_Plane_Entrance_2,VIP_American_Entrance_Plane_Entrance_2

[EDGE.0]
name = VIP_Entrance_Plane_Entrance
nodeStart = RTC_VIP_EXTERIOR_START_1_1
nodeEnd = Plane_Entrance

[EDGE.1]
name = VIP_American_Entrance_Plane_Entrance
nodeStart = RTC_VIP_EXTERIOR_START_2_1
nodeEnd = Plane_Entrance

[EDGE.2]
name = VIP_Entrance_Plane_Entrance_2
nodeStart = RTC_VIP_EXTERIOR_START_1_2
nodeEnd = Plane_Entrance_2

[EDGE.3]
name = VIP_American_Entrance_Plane_Entrance_2
nodeStart = RTC_VIP_EXTERIOR_START_2_2
nodeEnd = Plane_Entrance_2
